ipython
jupyterlab
matplotlib
plotly
shapely
statsmodels
notebook
numpy
pandas
pyarrow
pytest
pytest-cov
python-dotenv
pytest-asyncio
scikit-learn
ruff
prefect
omegaconf
mlflow
griffe
kedro
kedro-datasets
streamlit